<div class="container">
  <app-overflow-container #overflowContainerComponent [maxCount]="'responsive'">
    <div appOverflowItem>1</div>
    <div appOverflowItem>2</div>
    <div appOverflowItem>3</div>
    <div appOverflowItem>4</div>
    <div appOverflowItem>5</div>
    <div appOverflowItem>6</div>
    <div appOverflowItem>7</div>
    <div appOverflowItem>8</div>
    <div appOverflowItem>9</div>
    <div appOverflowItem>10</div>
    <div appOverflowItem>11</div>
    <div appOverflowItem>12</div>
    <div appOverflowRest>{{(overflowContainerComponent.omittedItems$|async)?.length}}++</div>
  </app-overflow-container>
</div>
