<select [value]="count" (change)="generateList($event)">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="200">200</option>
</select>
<div class="container">
  <app-overflow-container #overflowContainerComponent>
    <div class="label" appOverflowItem *ngFor="let item of list; let i = index">
      <div class="inner">Label {{ i + 1 }}</div>
    </div>
    <div appOverflowRest class="label">
      <div class="inner">
        +{{ (overflowContainerComponent.omittedItems$ | async)?.length }}...
      </div>
    </div>
  </app-overflow-container>
</div>

<div class="container">
  <app-overflow-container #overflowContainerComponentSuffix>
    <div class="label" appOverflowItem *ngFor="let item of list; let i = index">
      <div class="inner">Label {{ i + 1 }}</div>
    </div>
    <div appOverflowRest class="label">
      <div class="inner">
        +{{
          (overflowContainerComponentSuffix.omittedItems$ | async)?.length
        }}...
      </div>
    </div>
    <div class="label" appOverflowSuffix>
      <div class="suffix">
        <input class="input" [style.width.px]="width" #inputElement (input)="updateInputWidth(measureElement,inputElement)" />
        <div class="measure" #measureElement>{{text}}</div>
      </div>
    </div>
  </app-overflow-container>
</div>
